apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    com.citusdata.role: Master
    kompose.cmd: ./kompose convert
    kompose.version: 1.17.0 (a74acad)
  creationTimestamp: null
  labels:
    io.kompose.service: master
  name: master
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: master
    spec:
      containers:
      - image: asah/pg11_postgis25_citus811:1.3
        name: citus-master
        ports:
        - containerPort: 5432
        resources: {}
      restartPolicy: Always
status: {}
