apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    com.citusdata.role: Worker
    kompose.cmd: ./kompose convert
    kompose.version: 1.17.0 (a74acad)
  creationTimestamp: null
  labels:
    io.kompose.service: worker
  name: worker
spec:
  replicas: 7
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: worker
    spec:
      containers:
      - image: asah/pg11_postgis25_citus811:1.3
        name: worker
        resources: {}
      restartPolicy: Always
status: {}
