#containerSvg {
    display : block;
    margin : auto;
}

#jumppopover {
    display : block;
    opacity : 0.9;
}

#popoverarrow {
    top : 50%;
}

#popoverclose {
    position: relative;
    bottom: 5px;
    left : 6px;
}

#popovercontent {
    margin : 0px;
    padding : 0px;
}

#popovercontent > .list-group-item {
    padding : 6px;
    border : none;
}

#jumppopover > div {
    text-align : center;
}

#gobackbutton {
    position : absolute;
}

#zoominbutton {
    position : absolute;
}

#zoomoutbutton {
    position : absolute;
}
