body {
    text-align: center;
}

#containerSvg {
    display : inline-block;
}

#jumppopover {
    display : block;
    opacity : 0.9;
}

#popoverarrow {
    top : 50%;
}

#popoverclose {
    position : relative;
    bottom : 5px;
    left : 6px;
}

#popovercontent {
    margin : 0px;
    padding : 0px;
}

#popovercontent > .list-group-item {
    padding : 6px;
    border : none;
}

#jumppopover > div {
    text-align : center;
    font-family: 'Source Serif Pro', sans-serif !important;
}

#gobackbutton {
    position : absolute;
}

#zoominbutton {
    position : absolute;
}

#zoomoutbutton {
    position : absolute;
}

#editor > * {
    margin: 10px;
}

#sidebar {
    position : relative;
    display : inline-block;
    vertical-align : top;
    top : 50px;
    margin-left : 50px;
    width : 200px;
}

#editor {
    padding : 10px;
    display : flex;
    flex-direction : column;
    border : 3px pink dashed;
    background-color : #FFEEEE;
}

#editIdBox, #passcodeBox {
    font-size : 23px;
    font-weight : bold;
    width : 170px;
    overflow-wrap : break-word;
    margin : auto;
}

input[name="passcode"]{
    width : 150px;
    font-weight : normal;
}

label {
    font-size : 20px;
    font-weight : normal;
}

input[type="radio"] {
    display : none;
}

input[type="radio"] {
    height : 20px;
    width : 20px;
    display : inline-block;
    cursor : pointer;
    vertical-align : middle;
    background : #FFF;
    border : 1px solid #d2d2d2;
    border-radius : 100%;
}
