html,
body {
    height: 100%;
    overflow: hidden;
}

.kyrixdiv {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#containerSvg {
    display: block;
    position: absolute;
    margin: auto;
}

.viewsvg {
    display: block;
    margin: auto;
}

#jumppopover {
    display: block;
    opacity: 0.9;
}

#popoverarrow {
    top: 50%;
}

#popoverclose {
    position: relative;
    bottom: 5px;
    left: 6px;
}

#popovercontent {
    margin: 0px;
    padding: 0px;
}

#popovercontent > .list-group-item {
    padding: 6px;
    border: none;
}

#jumppopover > div {
    text-align: center;
    font-family: "Source Serif Pro", sans-serif !important;
}

.gobackbutton {
    position: absolute;
}

.zoominbutton {
    position: absolute;
}

.zoomoutbutton {
    position: absolute;
}

#yearContainer {
    text-align: center;
    font-size: 25px;
}

#explanation {
    float: left;
    font-size: 15px;
    color: #bbbbbb;
    width: 450px;
    height: 50px;
    overflow: visible;
    margin-left: 20px;
}

#checkboxContainer {
    text-align: center;
    font-size: 20px;
    float: right;
    margin-right: 20px;
}

input[type="range"] {
    height: 39px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #a6a6a6;
    background: #e3e6ff;
    border-radius: 4px;
    border: 2px solid #e3e6ff;
}
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #a6a6a6;
    border: 2px solid #9191f2;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: #8589ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #e3e6ff;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #a6a6a6;
    background: #e3e6ff;
    border-radius: 4px;
    border: 2px solid #e3e6ff;
}
input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 2px #a6a6a6;
    border: 2px solid #9191f2;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: #8589ff;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #e3e6ff;
    border: 2px solid #e3e6ff;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #a6a6a6;
}
input[type="range"]::-ms-fill-upper {
    background: #e3e6ff;
    border: 2px solid #e3e6ff;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #a6a6a6;
}
input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 2px #a6a6a6;
    border: 2px solid #9191f2;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: #8589ff;
    cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #e3e6ff;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #e3e6ff;
}

label {
    font-size: 16px;
    font-weight: normal !important;
    margin-bottom: 0 !important;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.7em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: "\2713\0020";
    position: absolute;
    top: 0.1em;
    left: 0.15em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all 0.2s;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9 !important;
}
