.pack text {
    text-anchor: middle;
    fill-opacity: 1;
    fill: navy;
}

#overviewrect {
    fill-opacity: 0;
    stroke: #fffef8;
    stroke-dasharray: 10, 5;
    stroke-linecap: butt;
    stroke-width: 3;
    pointer-events: none;
}
