.pack circle {
    /*fill: honeydew;*/
    /*fill-opacity: 0.25;*/
    stroke: #adad /*ad;
    stroke-width: */ 1px;
}

.pack text {
    text-anchor: middle;
    fill-opacity: 1;
    fill: navy;
}

#overviewrect {
    fill-opacity: 0;
    stroke: #fffef8;
    stroke-dasharray: 10, 5;
    stroke-linecap: butt;
    stroke-width: 3;
    pointer-events: none;
}

button.zoomoutbutton {
    visibility: hidden;
}

button.gobackbutton {
    visibility: hidden;
}

button.zoominbutton {
    visibility: hidden;
}
