td {
    text-align: center;
}

.gPie {
    text-anchor: middle;
}

path.value {
    stroke: grey;
    stroke-width: 2px;
    opacity: 0.5;
}

path.value:hover {
    opacity: 1;
    transition: opacity 0.5s;
}
